@model ViewModels.EditViewModel
@{

    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"><nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos Personales</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Productos</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card bg-light">
            <div class="card-header bg-primary text-light text-center">
                <a asp-action="Edit" class="btn btn-success">Volver</a>
                Editar Usuario
            </div>
            <article class="card-body mx-auto" style="width: 400px;">
                <form method="post">

                    <div class="text-center">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                        </div>
                        <input asp-for="Nombre" class="form-control" placeholder="Nombre" type="text">
                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                        </div>
                        <input asp-for="Apellido" class="form-control" placeholder="Apellido" type="text">

                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input asp-for="Correo" class="form-control" placeholder="Email" type="email">

                    </div>

                    @if (Model.tipouser == "cliente")
                    {
                        <div class="text-center">
                            <span asp-validation-for="MontoAñadido" class="text-danger"></span>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                            </div>
                            <input asp-for="MontoAñadido" class="form-control" placeholder="Añadirbalance" type="tel">
                        </div>
                    }
                    <div class="text-center">
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="Contraseña" class="form-control" placeholder="Editar password" type="password" id="Contraseña" name="Contraseña">
                    </div>
                    <div class="text-center">
                        <span asp-validation-for="RepeatContraseña" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group" id="ver" name="ver" hidden>
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="RepeatContraseña" class="form-control" placeholder="Repetir password" type="password">


                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Editar Cuenta  </button>
                    </div>

                </form>
            </article>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <h2 class="text-primary ml-3 mt-4">Cuentas</h2>
        <p class="text-muted ml-3">Balance total disponible Cuentas Ahorros y Corrientes</p>
        <div class="ml-lg-5">
            <strong class="text-primary h4">
                <i class="fa fa-usd" aria-hidden="true"></i>
                Disponible
            </strong>
            <p class="text-muted ml-5">DOP 20,000</p>

        </div>

        <div id="accordion">
            <div>
                <h5 class="mb-0 text-right">
                    <button class="btn btn-link collapsed dropdown-toggle" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Mostrar Cuentas
                    </button>
                </h5>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <thead>

                                <tr class="text-center">
                                    <th scope="col">Alias</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Disponible</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Ahorros)
                                {
                                    var balance = item.Balance.ToString("C");
                                <tr class="text-center">

                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tipo)</td>
                                    <td>DO</td>
                                    
                                    <td>@Html.DisplayFor(modelItem => balance)</td>
                                </tr>
                            }

                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <h2 class="text-primary ml-3 mt-4">Tarjetas de Crédito</h2>
            <p class="text-muted ml-3">Balance total disponible para consumo</p>
            <div class="ml-lg-5 float-left">
                <strong class="text-primary h4">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Disponible
                </strong>
                <p class="text-muted ml-5">DOP 20,000</p>

            </div>
            <div class="ml-lg-5 float-left">
                <strong class="text-primary h4">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Balance a pagar
                </strong>
                <p class="text-muted ml-5">DOP 20,000</p>

            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div id="accordion">
            <div class="">
                <h5 class="mb-0 text-right">
                    <button class="btn btn-link collapsed dropdown-toggle" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                        Mostrar Tarjetas
                    </button>
                </h5>
                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <thead>

                                <tr>
                                    <th scope="col">Numero</th>
                                    <th scope="col">Disponible</th>
                                    <th scope="col">Balance al corte</th>
                                    <th scope="col">Estado</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Tarjetas)
                                {
                                    var balance = item.Balance.ToString("C");
                                    <tr class="text-center">

                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Idtipo)</td>
                                        <td>DO</td>

                                        <td>@Html.DisplayFor(modelItem => balance)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <h2 class="text-primary ml-3 mt-4">Prestamos</h2>
            <p class="text-muted ml-3">Pago pendientes prestamos</p>
            <div class="ml-lg-5 float-left">
                <strong class="text-primary h4">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Balance Pendiente
                </strong>
                <p class="text-muted ml-5">DOP 20,000</p>

            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
        <div id="accordion">
            <div class="">
                <h5 class="mb-0 text-right">
                    <button class="btn btn-link collapsed dropdown-toggle" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                        Mostrar Prestamos
                    </button>
                </h5>
                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
                    <div class="card-body">
                        <table class="table">
                            <thead>

                                <tr>
                                    <th scope="col">Referencia</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Pendiente</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col"></th>


                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script language="javascript" type="text/javascript">


    $('#Contraseña').keyup(function () {
        document.getElementById('ver').hidden = false;
        var x = $(this).val();
        if (x == "") {

            document.getElementById('ver').hidden = true;

        }

    });
    //var select = document.getElementById('Contraseña');
    //select.addEventListener('onkeyup',
    //    function () {

    //        document.getElementById('ver').hidden = true;

    //    });

    //$(document).ready(function () {
    //    $("#pase").change(function () {
    //        alert($('input[id=pase]').val());
    //    });
    //    $(".nombre3").change(function () {
    //        alert($('input[class=nombre3]').val());
    //    });
    //});

    //$(function () {
    //     Handler for .ready() called.
    //    $("#pase").on("change", function () {
    //        alert($('input[id=pase]').val());
    //    });
    //});

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}