@model ViewModels.EditViewModel
@{

    ViewData["Title"] = "Edit User";
    ViewData["Usuario"] = User.Identity.Name.Trim();

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"><nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos Personales</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Productos</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card bg-light">
            <div class="card-header bg-primary text-light text-center">
                <a asp-action="Edit" class="btn btn-success">Volver</a>
                Editar Usuario
            </div>
            <article class="card-body mx-auto" style="width: 400px;">
                <form method="post">

                    <div class="text-center">
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                        </div>
                        <input asp-for="Nombre" class="form-control" placeholder="Nombre" type="text">
                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-address-card"></i> </span>
                        </div>
                        <input asp-for="Apellido" class="form-control" placeholder="Apellido" type="text">

                    </div>
                    <div class="text-center">
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input asp-for="Correo" class="form-control" placeholder="Email" type="email">

                    </div>

                    @if (Model.tipouser == "cliente")
                    {
                        <div class="text-center">
                            <span asp-validation-for="MontoAñadido" class="text-danger"></span>
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                            </div>
                            <input asp-for="MontoAñadido" class="form-control" placeholder="Añadirbalance" type="tel">
                        </div>
                    }
                    <div class="text-center">
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="Contraseña" class="form-control" placeholder="Editar password" type="password" id="Contraseña" name="Contraseña">
                    </div>
                    <div class="text-center">
                        <span asp-validation-for="RepeatContraseña" class="text-danger"></span>
                    </div>
                    <div class="form-group input-group" id="ver" name="ver" hidden>
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input asp-for="RepeatContraseña" class="form-control" placeholder="Repetir password" type="password">


                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Editar Cuenta  </button>
                    </div>

                </form>
            </article>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        <h2 class="text-primary ml-3 mt-4">Cuentas</h2>
        <p class="text-muted ml-3">Balance total disponible Cuentas Ahorros y Corrientes</p>
        <div class="ml-lg-5">
            <strong class="text-primary h4">
                <i class="fa fa-usd" aria-hidden="true"></i>
                Disponible
            </strong>
            <p class="text-muted ml-5">DOP @Model.BalanceCuentaAhorro.ToString("C") </p>

        </div>

        <div id="accordion">
            <div>
                <h5 class="mb-0 text-right">
                    <button class="btn btn-link collapsed dropdown-toggle" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Mostrar Cuentas
                    </button>
                </h5>
                <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <a class="btn-link" href="#" data-toggle="modal" data-target="#exampleModal1" data-id="@Model.Id">+ Añadir Cuenta de Ahorro</a>
                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form asp-action="addahorros" method="post">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Añadir Cuenta de Ahorro</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <p>¿Estas seguro que quieres agregar una cuenta nueva de ahorros a este usuario?</p>
                                            <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Proceder</button>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>

                                <tr class="text-center">
                                    <th scope="col">Alias</th>
                                    <th scope="col">Producto</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Disponible</th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Ahorros)
                                {
                                    var balance = item.Balance.ToString("C");
                                    <tr class="text-center">

                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                                        <td>DO</td>

                                        <td>@Html.DisplayFor(modelItem => balance)</td>
                                        @if (item.Tipo.Trim() != "Principal")
                                        {
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#exampleModal6" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true" style="color:red "></i></a>

                                        <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <form asp-action="deleteProduct" method="post">

                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <p>¿Estas seguro que quieres eliminar este producto?</p>
                                                                <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                            <button type="submit" class="btn btn-primary">Proceder</button>

                                                        </div>

                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <h2 class="text-primary ml-3 mt-4">Tarjetas de Crédito</h2>
            <p class="text-muted ml-3">Balance total disponible para consumo</p>
            <div class="ml-lg-5 float-left">
                <strong class="text-primary h4">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Disponible
                </strong>
                <p class="text-muted ml-5">DOP @Model.DisponibleTarjeta.ToString("C")</p>

            </div>
            <div class="ml-lg-5 float-left">
                <strong class="text-primary h4">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Balance a pagar
                </strong>
                <p class="text-muted ml-5">DOP @Model.BalanceTarjeta.ToString("C")</p>

            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div id="accordion">
            <div class="">
                <h5 class="mb-0 text-right">
                    <button class="btn btn-link collapsed dropdown-toggle" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Mostrar Tarjetas
                    </button>
                </h5>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
                    <a class="btn-link" href="#" data-toggle="modal" data-target="#exampleModal2" data-id="@Model.Id">+ Añadir Tarjeta de Credito</a>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form asp-action="AddBeneficiarios" method="post">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Añadir Tarjeta de Credito</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="text-center">
                                                <span  class="text-danger"></span>
                                            </div>
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                                                </div>
                                                <input  class="form-control" placeholder="Limite de gasto" type="tel"asp-for="LimiteNewTarjeta">
                                            </div> <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Proceder</button>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>

                                <tr class="text-center">
                                    <th scope="col">Numero</th>
                                    <th scope="col">Disponible</th>
                                    <th scope="col">Balance al corte</th>
                                    <th scope="col">Limite</th>
                                    <th scope="col"></th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Tarjetas)
                                {
                                    var balance = item.Balance.ToString("C");
                                    var Limite = item.LimiteTarjeta.ToString("C");
                                    var balancecorte = (item.LimiteTarjeta - item.Balance).ToString("C");
                                    var borrar2 = (item.LimiteTarjeta - item.Balance);

                                    <tr class="text-center">

                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => balance)</td>
                                        <td>@Html.DisplayFor(modelItem => balancecorte)</td>

                                        <td>@Html.DisplayFor(modelItem => Limite)</td>
                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#exampleModal4" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true" style="color:red "></i></a>
                                            @if (decimal.ToDouble(borrar2)  == 0.00)
                                            {
                                                <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <form asp-action="deleteProduct" method="post">

                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <p>¿Estas seguro que quieres eliminar este producto?</p>
                                                                        <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                    <button type="submit" class="btn btn-primary">Proceder</button>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            }
                                            else
                                            {

                                                <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <form asp-action="deleteProduct" method="post">

                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <p>Para eliminar este producto el usuario debe completar su pago</p>
                                                                        <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>

                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <h2 class="text-primary ml-3 mt-4">Prestamos</h2>
            <p class="text-muted ml-3">Pago pendientes prestamos</p>
            <div class="ml-lg-5 float-left">
                <strong class="text-primary h4">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Balance Pendiente
                </strong>
                <p class="text-muted ml-5">DOP @Model.BalancePrestamo.ToString("C")</p>

            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
        <div id="accordion">
            <div class="">
                <h5 class="mb-0 text-right">
                    <button class="btn btn-link collapsed dropdown-toggle" data-toggle="collapse" data-target="#collapsethree" aria-expanded="false" aria-controls="collapsethree">
                        Mostrar Prestamos
                    </button>
                </h5>
                <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
                    <a class="btn-link" href="#" data-toggle="modal" data-target="#exampleModal3" data-id="@Model.Id">+ Añadir Prestamo</a>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <form asp-action="AddPrestamo" method="post">

                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Añadir Prestamo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div class="text-center">
                                                <span class="text-danger"></span>
                                            </div>
                                            <div class="form-group input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"> <i class="fa fa-money"></i> </span>
                                                </div>
                                                <input class="form-control" placeholder="Monto de Prestamo" type="tel" asp-for="MontonewPrestamo">
                                            </div> <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Proceder</button>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>

                                <tr class="text-center">
                                    <th scope="col">Referencia</th>
                                    <th scope="col">Monto</th>
                                    <th scope="col">Pendiente</th>
                                    <th scope="col"></th>



                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Prestamos)
                                {
                                    var Monto = item.MontoPrestamo.ToString("C");
                                    var Pendiente = (item.MontoPrestamo - item.Balance).ToString("C");
                                    var borrar2 = item.MontoPrestamo - item.Balance;

                                    <tr class="text-center">

                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => Monto)</td>
                                        <td>@Html.DisplayFor(modelItem => Pendiente)</td>
                                        <td>
                                            <a href="#" data-toggle="modal" data-target="#exampleModal5" data-id="@item.Id"><i class="fa fa-trash" aria-hidden="true" style="color:red "></i></a>
                                            @if (decimal.ToDouble(borrar2) == 0.00)
                                            {
                                                <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <form asp-action="deleteProduct"  method="post">

                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <p>¿Estas seguro que quieres eliminar este producto?</p>
                                                                        <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                                    <button type="submit" class="btn btn-primary">Proceder</button>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>
                                            }
                                            else
                                            {

                                                <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <form asp-action="deleteProduct" method="post">

                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Producto</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-group">
                                                                        <p>Para eliminar este producto el usuario debe completar su pago</p>
                                                                        <input class="hola" asp-for="@Model.Id" type="hidden" value="@Model.Id" />
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>

                                                </div>

                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script language="javascript" type="text/javascript">


    $('#Contraseña').keyup(function () {
        document.getElementById('ver').hidden = false;
        var x = $(this).val();
        if (x == "") {

            document.getElementById('ver').hidden = true;

        }

    });


</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}